Q1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

Q2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

In [ ]:
SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*)
FROM Title
GROUP BY WORKER_TITLE, AFFECTED_FROM
HAVING COUNT(*) > 1;

Q3. How to remove duplicate rows from Employees table.

In [ ]:
select* from employees_table 
with employeeCTE AS 
select *, ROW_NUMBER () over(partition by empid order by empid) as Rownumber 
from employees_table 
Delete from employeeCTE where Rownumber>1 
select * from employees_table