Q1. Write an SQL query to show only odd rows from aÂ table.

In [ ]:
SELECT * FROM Worker WHERE MOD (WORKER_ID, 2) <> 0;

Q2. Write an SQL query to clone a new table from another table.

In [ ]:
SELECT * INTO WorkerClone FROM Worker;