Q1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

In [ ]:
Select RTRIM(FIRST_NAME) from Worker;

Q2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

In [ ]:
Select distinct length(DEPARTMENT) from Worker;

Q3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
SELECT distinct Salary from worker a WHERE n >= (SELECT count(distinct Salary) from worker b WHERE a.Salary <= b.Salary) order by a.Salary desc;